/* first mobile*/

body{
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.dolar-container {
    position: relative;
    margin-top: 50px;
    padding-top: 10px; /* Adjust the margin to match the height of the navbar */
    background-color: red;
    width: 100%;
    height: 60px;
    box-shadow: 0px 5px 15px black;
    z-index: 99; /* To be below the navbar */
}
.dolar-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dolar-item{
    text-align: center;
    font-size: 14px;
    height: 100%;
    transform:translateX(0); /* Inicialmente sin ancho */
    transition: transform 0.5s;
    cursor: pointer;

}

.dolar-item:hover {
    transform: scale(1.2);
}



.dolar-item > h2{
    padding: 0;
    margin: 2px 0px 0px 0px;
}

.dolar-info .dolar-item:last-child,
.dolar-info .dolar-item:nth-last-child(2){
    display: none;
}

.navbar-container {
    position: fixed;
    top: 0;
    background-color: aqua;
    height: 50px;
    box-shadow: 0px 5px 15px black;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.toggle-menu{
    display: none;
}
.navbar-list{
    position:absolute;
    display: none;
    flex-direction: column;
    gap:20px;
    width: 100%;
    padding: 0px 20px 0px 20px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
    margin-top: -2px;
    list-style: none;
}
.navbar-list >li >a{
    text-decoration: none;
}

.toggle-menu:checked ~ .navbar-list {
    display: flex;
}

.img-logo{
    width: 40px;
    height: 40px;
    align-self: center;
    justify-self: center;
}
.img-logo-container{
    display: flex;
    gap:10px;
    align-self: center;
    justify-content: center;
}

/* cart section*/
.cart-dropdown{
    display: none;
    position: absolute;
    top: 100%; /* Posición debajo de cart-container */
    right: 0; /* Posición a la derecha */
    width: 200px; /* Ancho del carrito */
    height: 90vh;
    background-color: rgb(167, 73, 73);
    
}
#toggle-cart:checked ~ .cart-dropdown {
    display: block;
}
#toggle-cart{
    display: none;
}
.img-cart{
    cursor: pointer;
    align-self: center;
    justify-self: center;
    padding: 2px;
}
.img-trash{
    width: 20px;
    height: 20px;
}
.favorite-items{
    background-color: aquamarine;
    width: 95%;
    height: 90%;
    margin: -10px 0px 0px 5px;
}
.item-cart{
    background-color: chocolate;
    display: flex;
    justify-content: space-around;
}
.cart-dropdown button{
    background-color: antiquewhite;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    align-self: flex-end; /* Coloca el botón al final del contenedor */
}
/* Styling for the hero section */
.hero {
    height: 100vh;
    background-color: brown;
}
.navbar-img--menu{
    height: 50px;
}